<% form_tag sessions_path do %>
  <p>
    <%= label_tag :login %>
    <%= text_field_tag :login %>
		<br>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
		<br>
		<span class="login_button"><%= submit_tag "Log in" %></span>
	</p>
<% end %>
