
<table class="datagrid">
  <thead class="datagrid">
    <th width="165">Title</th>
    <th width="65" align="center">Date</th>
	<th width="65" align="center">Time</th>
    <th width="65" align="center">Priority</th>
	<th width="65" align="center">Done?</th>
  </thead>
  
<% for task in @tasks %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td>&nbsp;<%= link_to task.name, task_path(task)  %></td>
    <td align="center"><%= task.due_on.strftime("%m/%d") %></td>
	<td align="center"><%= task.due_on.strftime("%I:%M %p") %></td>
    <td align="center"><%= get_priority_name(task.priority) %></td>
    <td align="center"><%= get_task_status(task.completed)  %></td>
  </tr>
<% end %>
</table>
<p class="supertiny">&nbsp;</p>
<span class="smtext"><%# will_paginate @tasks %></span>
<p class="supertiny">&nbsp;</p>
