<h2>Users</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
			<th>Current Projects</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= mail_to user.email, user.email %></td>
				<td>
					<%= user.projects.current.map(&:name).join(', ') %>
				</td>
        <td>
          <%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-trash icon-white'></i> Remove"), user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>


<%= link_to raw("<i class='icon-plus icon-white'></i> Add a New User"), new_user_path, :class => 'btn btn-primary' %>
