<h2>Welcome back, <%= current_user.proper_name %></h2>

<p>Below is information on your projects and incomplete tasks for those projects:</p>

<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="top">
		<td>
			<h3>My Projects &nbsp;&nbsp;<span class="add_link"><%= link_to "[add new project]", new_project_path %></span></h3>
			<% if @projects.nil? || @projects.empty? %>
				<p>You have no projects at this time</p>
			<% else %>
				<div id="display_projects">
					<%= render :partial => 'partials/project_item', :collection => @projects %>
				</div>
			<% end %>
		</td>
		<td width="50">&nbsp;</td>
		<td>
			<h3><span id="task_title">Incomplete Tasks</span>  &nbsp;&nbsp;<span class="add_link"><%= link_to "[add new task]", new_task_path %></span></h3>
			<% if @incomplete_tasks.empty? %>
				<p>You have no incomplete tasks at this time.</p>
			<% else %>
				<div id="display_tasks">
					<%= render :partial => 'partials/task_item', :collection => @incomplete_tasks %>
				</div>
			<% end %>
		</td>
	</tr>
</table>